<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <target name="console" xsi:type="Console" />
    <target xsi:type="RichTextBox" name="MemoryReaderLogger" layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
            controlName="_memoryReaderLogger" formName="LoggerForm" />
    <target xsi:type="RichTextBox" name="PostGresLogger" layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
            controlName="_posteGreLogger" formName="LoggerForm" />
    <target xsi:type="RichTextBox" name="TrainingLogger" layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
            controlName="_richTextBoxTrainingLogger" formName="LoggerForm" />
  
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="PokerBot.Postgres.*" minlevel="Trace" final="true" writeTo="PostGresLogger"/>
    <logger name="PokerBot.MemoryReader.MemoryReader" minlevel="Trace" final="true" writeTo="MemoryReaderLogger"/>
    <logger name="PokerBot.Trainer.*" minlevel="Trace" final="true" writeTo="TrainingLogger"/>
    
  </rules>
</nlog>